.embla {
  position: relative;
  padding: 20px 0;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.3333%;
  }
}

@media (min-width: 1280px) {
  .embla__slide {
    flex: 0 0 25%;
  }
}

.embla__button {
  appearance: none;
  background-color: white;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 4rem;
  height: 4rem;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.embla__button:disabled {
  opacity: 0.3;
  cursor: default;
}

.embla__button__prev {
  left: -1rem;
}

.embla__button__next {
  right: -1rem;
}

.embla__button__svg {
  width: 45%;
  height: 45%;
}
