@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Animação para o carrossel de marcas */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    /* Move a lista para a esquerda pelo tamanho exato da lista original */
    transform: translateX(-50%);
  }
}

.animate-scroll {
  /* Aplica a animação 'scroll' com duração de 40s, de forma linear e infinita */
  animation: scroll 40s linear infinite;
}
